<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/pic1.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="main-content">

        {{> header }}
        <h3>This Weather App, shows user the real-time weather details such as Temprature, Wind Speed and
            the current weather forecast of any location. 
            It uses Geocoding to get the correct Latitude and Longitude of the location searched. Thereafter it maps the Latitude and Longitude    
            and fetches the accurate weather forecast for the user.
        </h3>
        <br>
        <br>
        <br>
        <img class="portrait" src="img/pic1.jpg">
        <h6>Created By : Rajat Chouhan
            <br>Linkedin : linkedin.com/in/rajat-chouhan-ab0a72178
            <br>Email us : rajat.18.ds@gmail.com
        </h6>

    </div>
    {{> footer }}
</body>

</html>