<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/pic1.jpg"
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>
            Hello, Users! if you are facing any issues using the app you may leave your query to our email
            address at rajat9529c@gmail.com and we will try to solve the issue as soon as possile.
        </h3>
    </div>
    {{> footer }}
</body>

</html>